
.poi{
    padding: 0px 0;
}


.poi-goods {

    padding: 0px 0;
    position: relative;
    z-index: 0;
    text-align: center;

    &.p02-change{
        .ph-group-base{
             display: none;

            &.on{
                display: block;
            }             
        }
        .ph-group-title{
            display: none;
        }

    }

    .ph-group-menu{
        margin: 16px auto;
        display: flex;
        justify-content: center;
        gap: 8px;
        flex-wrap: nowrap;
        li{       
            padding: 4px 12px;
            border-radius: 20px;
            @include theme('poi-ph-group-menu-color','poi-ph-group-menu-bg-color'); 
            @include font('poi-menu-size','poi-menu-weight','poi-menu-line-height'); 
            a{
                @include theme('poi-ph-group-menu-color','poi-ph-group-menu-bg-color'); 
            @include font('poi-menu-size','poi-menu-weight','poi-menu-line-height');  
            }
            
            &.on{
                @include theme('poi-ph-group-menu-hover-color','poi-ph-group-menu-hover-bg-color'); 
                a{
                    @include theme('poi-ph-group-menu-hover-color','poi-ph-group-menu-hover-bg-color'); 
                }
            
            }
        }


    }

    .ph-group-tab{

        display: none;
        
        &.on{
            display: block;
        }

    }
    

    .ph {
        margin: 40px auto 16px auto;

        @include pad {

            margin: 16px auto 16px auto;
        }
        
        .link-right{
            display: inline-block;
            // display: none;
            border-radius: 99em;
            padding: 12px 24px;
            position: relative;
            @include margin('paragraph-spacing');
            @include theme('poi-otherlink-color','poi-otherlink-bg-color');
            
            &::after{
                content: "▶";
                position: static;
    
    
    
            }
            &.on{
                display: inline-block;
                @include theme('poi-otherlink-color','poi-otherlink-bg-color');
              
                
            }
            @include hover-support{
                @include theme('poi-otherlink-hover-color','poi-otherlink-hover-bg-color');
            }
        }
    }


    &.poi-fit{
        .ph-group-content-photo {
            display: none;
        }
    }

    .ph-title{

       // display: flex !important;
        flex-wrap: nowrap;
        @include font-page('h1',700);
        @include theme('poi-title-color', 'poi-title-bg-color');
        justify-content: center;
        @include margin('paragraph-spacing-small');


        div{
            position: relative;
          //  background: url(../images/title_bg_yellow.svg) top center no-repeat;
            padding: 12px 0;
            min-width: 412px;
            background-size:100%;

            @include mobile{
                min-width: 296px;
            }

            // &::before{
            //     content: "";
            //     position: absolute;
            //     left: -78px;
            //     top: 16px;
            //     width: 57px;
            //     height: 48px;
            //     background: url(../images/title_left.svg) top center no-repeat;

            //     @include mobile{
            //         width: 45px;
            //         left: -59px;
            //         top:5px;
            //         background: url(../images/title_left.svg) top center no-repeat;
            //         background-size: 100%;
            //     }
            //     @include small{
            //         content: none;
            //     }
            // }
            // &::after{
            //     content: "";
            //     position: absolute;
            //     right: -80px;
            //     top: 13px;
            //     width: 65px;
            //     height: 56px;
            //     background: url(../images/title_right.svg) top center no-repeat;
                
            //     @include mobile{
            //         width: 47px;
            //         right: -61px;
            //         top:3px;
            //         background: url(../images/title_right.svg) top center no-repeat;
            //         background-size: 100%;
            //     }
            //     @include small{
            //         content: none;
            //     }
            // }
        }

    }

    .ph-group-title {
        display: block;
        padding: 24px 0;

        @include theme('poi-title-color', 'poi-title-bg-color');
        @include font('poi-title-size', 'poi-title-weight', 'poi-line-height');


    }


    /*一般的樣式*/
    .ph-group {
        display: flex;
        margin: 0px auto 80px auto;
        position: relative;
        justify-content: center;
        flex-wrap: wrap;
        text-align: left;
        width: 100%;
        gap: 16px;
        padding: 16px 0;

        @include small {
            @include poi-scroll(flex-start);
            padding: 8px 0px;

        }

        &:has(+ .link-right){
            margin-bottom: 0;
         }
    }
    /*基本骨架*/
    .ph-group-content {
        border-radius: 10px;
        padding: 16px 16px 45px 16px;
        position: relative;
        width: calc(100% / 4 - 12px);
        transition: 0.3s;

        @include pad {
            width: calc(50% - 16px);
            padding: 14px 14px 43px 14px;
        }

        @include small {
            width:90%;
            flex-shrink: 0;

        }


        &:hover {
            filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.10));

            // .ph-group-content-otherlink {
            //     a {
            //         @include theme('poi-otherlink-hover-color', 'poi-otherlink-hover-bg-color');
            //     }
            // }
        }


        @include theme('poi-color', 'poi-bg-color');
        @include font('poi-size', 'poi-weight', 'poi-line-height');




        //單個poi填滿容器

        // &.box1 {
        //     width: 100%;
        //     gap: 16px;
        //     display: flex;
        //     flex-wrap: nowrap;
        //     padding: 16px;

        //     .ph-group-content-photo {
        //         width: 45%;
        //         display: inline-block;

        //         img {
        //             object-fit: cover;
        //             height: 100%;
        //         }
        //     }

        //     .ph-group-content-text {
        //         width: 53%;
        //         display: inline-block;
        //         padding: 0 0 29px 0;


        //     }
        // }

        // &.box2 {
        //     width: 45%;
        //     flex-grow: 1;
        //     display: flex;
        //     flex-wrap: nowrap;
        //     gap: 16px;
        //     padding: 16px;

        //     .ph-group-content-photo {
        //         width: 55%;
        //         display: inline-block;

        //         img {
        //             object-fit: cover;
        //             height: 100%;
        //         }
        //     }

        //     .ph-group-content-text {
        //         width: calc(45% - 16px);
        //         display: inline-block;
        //         padding: 0 0 29px 0;


        //     }
        // }

        // &.box3 {
        //     width: 30%;
        //     flex-grow: 1;
        // }


    

    .ph-group-content-photo {
        display: block;
        overflow: hidden;

        img {

            width: 100%;

        }

        .ph-group-content-tag {
            top: 0px;
            left: 0px;
            position: absolute;
            border-radius: 10px 20px 20px 0px;
            padding: 8px 16px;
            @include font('poi-tag-size', 'poi-tag-weight', 'poi-tag-line-height');
            @include theme('poi-tag-color', 'poi-tag-bg-color');

        }
    }

    .ph-group-content-text-name {
        padding: 0;
        margin: 8px auto;
        @include theme('poi-name-color', 'poi-name-bg-color');
        @include font('poi-name-size', 'poi-name-weight', 'poi-line-height');
        display: block;


    }

    .ph-group-content-text-detail {
        margin: 8px auto;
        @include theme('poi-detail-color', 'poi-detail-bg-color');
        @include font('poi-detail-size', 'poi-detail-weight', 'poi-line-height');

        a {
            width: 100%;
            display: block;
            @include theme('poi-detail-color', 'poi-detail-bg-color');
            @include font('poi-detail-size', 'poi-detail-weight', 'poi-line-height');
        }
    }

    .ph-group-content-text-price {
        position: absolute;
        right: 16px;
        bottom: 16px;
        letter-spacing: 0.2px;
        font-family: "Manrope", "Noto Sans TC";
        @include theme('poi-price-color', 'poi-price-bg-color');
        @include font('poi-price-size', 'poi-price-weight', 'poi-line-height');


        span {
            vertical-align: baseline !important;
            @include font('poi-price-span-size', 'poi-price-span-weight', 'poi-line-height');

        }
    }

    .ph-group-content-text-sale {

        @include theme('poi-sale-color', 'poi-sale-bg-color');
        @include font('poi-sale-size', 'poi-sale-weight', 'poi-line-height');

        a {


            padding: 8px;
            display: block;
            @include theme('poi-sale-color', 'poi-sale-bg-color');
            @include font('poi-sale-size', 'poi-sale-weight', 'poi-line-height');
        }
    }

    .ph-group-content-otherlink {
        display: flex;
       text-align: center;
       position: relative;
       flex-wrap: wrap;
       gap: 4px;
      

        @include pad {
            // bottom: 14px;
            // right: 14px;
        }

        a:empty {
            display: none;

        }

        a {

            @include theme('poi-otherlink-color', 'poi-otherlink-bg-color');
            @include font('poi-otherlink-size', 'poi-otherlink-weight', 'poi-line-height');
            padding: 4px 12px;
            border: 1px solid $poi-otherlink-border;
            border-radius: 50px;
            @include hover-support{
                
                
                    @include theme('poi-otherlink-hover-color', 'poi-otherlink-hover-bg-color');
                
                
            }

        }

    }


    }
    /*poi選單*/
    .ph-menu{
        display: inline-flex;
        justify-content: center;
        @include small{
            
            @include poi-scroll(center);

        }
        .slidecontain{
            display: flex;
            justify-content:center;
            flex-wrap: nowrap;
            gap: 0px;
            width: 100%;

            @include small{
                
                flex-wrap: nowrap;
                justify-content: flex-start;
                display: inline-flex;

            }

            li{
                    @include small{
                        flex-shrink: 0;
                        width: auto;
                        flex-grow: 0;
                    }
                    
                    a{
                   
                        padding: 8px 16px;
                        display: block;
                        @include theme('poi-ph-menu-color','poi-ph-menu-bg-color');
                        @include font('poi-ph-menu-size','poi-ph-menu-weight','poi-ph-menu-line-height');         
                
                        border-radius: 50px;
                        

                        @include small{
                         
                            padding: 5px 10px;
                           
                        }
                    }
                    &:hover, &.on{

                        a{
                            @include theme('poi-ph-menu-hover-color','poi-ph-menu-hover-bg-color');
                  
                            font-weight: 700;
                        }
                    }
            }
        }
    }

    /**********************其他通用class*********************************/
    /**********************其他通用class*********************************/
    /**********************其他通用class*********************************/
    /*切換*/
    &.poi-change {
        .ph-group {
            display: none;

            &.on {
                display: flex;
            }
        }

        .ph-group-title {
            display: none;
        }
        .link-right{
            display: none;
        }
    }
    
    
   &.poi-hide-menu {
        .ph-menu {
            display: none;
        }
    }

   &.poi-hide-price {

        .ph-group-content {
            padding: 16px;

            @include pad {

                padding: 14px;
            }

            .ph-group-content-text-price {
                display: none;
            }

            // .ph-group-content-text-sale {
            //     display: none;
            // }
        }


    }

    &.poi-hide-ph-group-title {

        .ph-group-title {
            display: none;
        }
    }



    /*放最下面*/
    &.poi-mobile-small{
        .ph-group{
            @include small{
                flex-wrap: wrap;
                justify-content: center;
                gap: 8px;
                overflow: auto;
             
            }

            .ph-group-content{

                @include small{
                    overflow: hidden;
                    padding: 0 0 32px 0;
                    width: calc(50% - 4px);
                    max-width: 247px;
                    flex-grow: 0;
                }
                .ph-group-content-text-name{
                    @include small{
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                        padding: 0 8px;
                    }
                }
                .ph-group-content-text-detail {
                    @include small{
                        display: none;
                    }
                }
                .ph-group-content-text-price{
                    @include small{
                        bottom: 8px;
                        padding: 0 8px;
                        right: 0;
                    }
                }
                .ph-group-content-text-sale {
                    @include small{
                        display: none;
                    }
                }

            }
        }


    }

}

.get-movie-goods{
    display: none;
  }
  
    .movie-goods-content{
        background: #FFF6E5;
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: center;
        // background:rgb(141 254 242 / 70%);
        border-radius: 20px;
        padding: 24px 48px 24px 72px;
        gap: 100px;
        position: relative;
        overflow: hidden;
        align-items: stretch;
        margin-bottom:24px;
        @include desktop{
            gap: 10px;
            // gap: unset;
            padding: 24px;
            
        }
        // @include pad{
        //     padding: 24px 68px;
        // }
        @include mobile{
            padding: 20px;
        }
        @include small{
            padding: 20px;
            border-radius:12px;
            flex-wrap: wrap;
            width: 100%;
        
        }
        &::before{
            content: "";
            background: url(../images/movie-title-poi.png?v=20250715-3) no-repeat top center;
            height: 259px;
            width: 24px;
            position: absolute;
            left: 30px;
        
            @include desktop{
                content: unset;
            }
    
        }
        //   &::after{
        //     content: "";
        //     background: url(../images/movie-title-img-hand.png?v=20250715) no-repeat top center;
        //     height: 100px;
        //     width: 59px;
        //     position: absolute;
        //     right: 0px;
        //     bottom: 0px;
        //   }


        .get-movie-img{
            width: 60%;
            position: relative;
            flex-grow: 1;
            min-height: 490px;
            @include desktop{
                width: 37.5%;
            }
    
            @include pad{
                width:40%;
                // min-height: unset;
            }
            @include small{
                    min-height: 526px;
                    width: 100%;
                    aspect-ratio: 9 / 16;

                
            }
            &::before{
                content: "";
                background: url(../images/movie-title-img.png?v=20250715-3) no-repeat top center;
                height: 145px;
                width: 24px;
                position: absolute;
                left: -43px;
            
                @include desktop{
                    content: unset;
                    left: unset;
                    right: -42px;
                }
                @include mobile{
                    content: unset;
                }
        
            }   

            // .movie-img-box{
            //     overflow: hidden;
            //     border-radius: 10px;
            //     img{
            //         transform: scale(1.08);
            //     }

            // }
        .movie-youtube{
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 10px;
        
        }
        
        iframe{
            min-height: 280px;
            aspect-ratio: 16 / 9;
        
        
        }
        img{
            width: 100%;
            border-radius: 10px;
            overflow: hidden;
            height: 100%;
            object-fit: cover;
        }
        img.movie-img-hand{
            max-width: 59px;
            width: 100%;
            height: auto;
            position: absolute;
            right: -68px;
            bottom: -31px;
            @include desktop{
                right: -29px;
            }
            @include mobile{

                right: -22px;
                bottom: -23px;
            }
            @include small{
                right: -10px;
                bottom: -14px;
                max-width:50px;
            }
            &:hover{
                filter: brightness(105%);
            }

        }
        }
        .ph-group{
            margin-bottom: 40px;
        }

        .ph-group-content{

  
            
            flex-wrap: wrap;

            width:100%;
            text-align: left;
            @include desktop{
                    flex-grow: 1;
                    width:60% !important;
            }           
            @include pad{
                    flex-grow: 1;
                    width:40% !important;
            }
            @include small{
                    width: 100%;

                
            }

    



            .ph-group-content-photo{
                width: 100%;
            }
            .ph-group-content-text{
                width: 100%;
                .ph-group-content-text-price{
            
                }
            }






        }
    
    }


